In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno

In [4]:
data = pd.read_csv("learningSet.csv", low_memory=False)

In [5]:
data

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

On this lab we are going to work on the numerical columns

In [6]:
data_num= data.select_dtypes(include=['number'])
data_num

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
0,8901,0,3712,60.0,NaN,NaN,NaN,0,NaN,NaN,...,8911,9003.0,4.0,7.741935,95515,0,0.0,0,4,39.0
1,9401,1,5202,46.0,1.0,6.0,9.0,16,0.0,0.0,...,9310,9504.0,18.0,15.666667,148535,0,0.0,0,2,1.0
2,9001,1,0,NaN,NaN,3.0,1.0,2,0.0,0.0,...,9001,9101.0,12.0,7.481481,15078,0,0.0,1,4,60.0
3,8701,0,2801,70.0,NaN,1.0,4.0,2,0.0,0.0,...,8702,8711.0,9.0,6.812500,172556,0,0.0,1,4,41.0
4,8601,0,2001,78.0,1.0,3.0,2.0,60,1.0,0.0,...,7903,8005.0,14.0,6.864865,7112,0,0.0,1,2,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,9602,NaN,NaN,25.000000,184568,0,0.0,0,1,12.0
95408,9601,1,5001,48.0,1.0,7.0,9.0,1,0.0,0.0,...,9603,NaN,NaN,20.000000,122706,0,0.0,1,1,2.0
95409,9501,1,3801,60.0,NaN,NaN,NaN,0,NaN,NaN,...,9410,9501.0,3.0,8.285714,189641,0,0.0,1,3,34.0
95410,8601,0,4005,58.0,NaN,7.0,NaN,0,NaN,NaN,...,8612,8704.0,4.0,12.146341,4693,1,18.0,1,4,11.0
95411,8801,2,1801,80.0,NaN,5.0,8.0,3,0.0,0.0,...,8803,8809.0,6.0,96.794872,185114,0,0.0,1,1,12.0

Check nan values

In [10]:
data_num.info(show_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 407 columns):
 #    Column    Non-Null Count  Dtype
---   ------    --------------  -----
 0    ODATEDW   95412 non-null  int64
 1    TCODE     95412 non-null  int64
 2    DOB       95412 non-null  int64
 3    AGE       71747 non-null  float64
 4    NUMCHLD   12386 non-null  float64
 5    INCOME    74126 non-null  float64
 6    WEALTH1   50680 non-null  float64
 7    HIT       95412 non-null  int64
 8    MBCRAFT   42558 non-null  float64
 9    MBGARDEN  42558 non-null  float64
 10   MBBOOKS   42558 non-null  float64
 11   MBCOLECT  42498 non-null  float64
 12   MAGFAML   42558 non-null  float64
 13   MAGFEM    42558 non-null  float64
 14   MAGMALE   42558 non-null  float64
 15   PUBGARDN  42558 non-null  float64
 16   PUBCULIN  42558 non-null  float64
 17   PUBHLTH   42558 non-null  float64
 18   PUBDOITY  42558 non-null  float64
 19   PUBNEWFN  42558 non-null  float64
 20   PUBPHOTO  42558 non-null  float64
 21   PUBOPP    42558 non-null  float64
 22   MALEMILI  95412 non-null  int64
 23   MALEVET   95412 non-null  int64
 24   VIETVETS  95412 non-null  int64
 25   WWIIVETS  95412 non-null  int64
 26   LOCALGOV  95412 non-null  int64
 27   STATEGOV  95412 non-null  int64
 28   FEDGOV    95412 non-null  int64
 29   WEALTH2   51589 non-null  float64
 30   POP901    95412 non-null  int64
 31   POP902    95412 non-null  int64
 32   POP903    95412 non-null  int64
 33   POP90C1   95412 non-null  int64
 34   POP90C2   95412 non-null  int64
 35   POP90C3   95412 non-null  int64
 36   POP90C4   95412 non-null  int64
 37   POP90C5   95412 non-null  int64
 38   ETH1      95412 non-null  int64
 39   ETH2      95412 non-null  int64
 40   ETH3      95412 non-null  int64
 41   ETH4      95412 non-null  int64
 42   ETH5      95412 non-null  int64
 43   ETH6      95412 non-null  int64
 44   ETH7      95412 non-null  int64
 45   ETH8      95412 non-null  int64
 46   ETH9      95412 non-null  int64
 47   ETH10     95412 non-null  int64
 48   ETH11     95412 non-null  int64
 49   ETH12     95412 non-null  int64
 50   ETH13     95412 non-null  int64
 51   ETH14     95412 non-null  int64
 52   ETH15     95412 non-null  int64
 53   ETH16     95412 non-null  int64
 54   AGE901    95412 non-null  int64
 55   AGE902    95412 non-null  int64
 56   AGE903    95412 non-null  int64
 57   AGE904    95412 non-null  int64
 58   AGE905    95412 non-null  int64
 59   AGE906    95412 non-null  int64
 60   AGE907    95412 non-null  int64
 61   CHIL1     95412 non-null  int64
 62   CHIL2     95412 non-null  int64
 63   CHIL3     95412 non-null  int64
 64   AGEC1     95412 non-null  int64
 65   AGEC2     95412 non-null  int64
 66   AGEC3     95412 non-null  int64
 67   AGEC4     95412 non-null  int64
 68   AGEC5     95412 non-null  int64
 69   AGEC6     95412 non-null  int64
 70   AGEC7     95412 non-null  int64
 71   CHILC1    95412 non-null  int64
 72   CHILC2    95412 non-null  int64
 73   CHILC3    95412 non-null  int64
 74   CHILC4    95412 non-null  int64
 75   CHILC5    95412 non-null  int64
 76   HHAGE1    95412 non-null  int64
 77   HHAGE2    95412 non-null  int64
 78   HHAGE3    95412 non-null  int64
 79   HHN1      95412 non-null  int64
 80   HHN2      95412 non-null  int64
 81   HHN3      95412 non-null  int64
 82   HHN4      95412 non-null  int64
 83   HHN5      95412 non-null  int64
 84   HHN6      95412 non-null  int64
 85   MARR1     95412 non-null  int64
 86   MARR2     95412 non-null  int64
 87   MARR3     95412 non-null  int64
 88   MARR4     95412 non-null  int64
 89   HHP1      95412 non-null  int64
 90   HHP2      95412 non-null  int64
 91   DW1       95412 non-null  int64
 92   DW2       95412 non-null  int64
 93   DW3       95412 non-null  int64
 94   DW4       95412 non-null  int64
 95   DW5       95412 non-null  int64
 96   DW6       95412 non-null  int64
 97   DW7       95412 non-null  int64
 98   DW8       95412 non-null  int64
 99   DW9       95412 non-null  int64
 100  HV1       95412 non-null  int64
 101  HV2       95412 non-null  int64
 102  HV3       95412 non-null  int64
 103  HV4       95412 non-null  int64
 104  HU1       95412 non-null  int64
 105  HU2       95412 non-null  int64
 106  HU3       95412 non-null  int64
 107  HU4       95412 non-null  int64
 108  HU5       95412 non-null  int64
 109  HHD1      95412 non-null  int64
 110  HHD2      95412 non-null  int64
 111  HHD3      95412 non-null  int64
 112  HHD4      95412 non-null  int64
 113  HHD5      95412 non-null  int64
 114  HHD6      95412 non-null  int64
 115  HHD7      95412 non-null  int64
 116  HHD8      95412 non-null  int64
 117  HHD9      95412 non-null  int64
 118  HHD10     95412 non-null  int64
 119  HHD11     95412 non-null  int64
 120  HHD12     95412 non-null  int64
 121  ETHC1     95412 non-null  int64
 122  ETHC2     95412 non-null  int64
 123  ETHC3     95412 non-null  int64
 124  ETHC4     95412 non-null  int64
 125  ETHC5     95412 non-null  int64
 126  ETHC6     95412 non-null  int64
 127  HVP1      95412 non-null  int64
 128  HVP2      95412 non-null  int64
 129  HVP3      95412 non-null  int64
 130  HVP4      95412 non-null  int64
 131  HVP5      95412 non-null  int64
 132  HVP6      95412 non-null  int64
 133  HUR1      95412 non-null  int64
 134  HUR2      95412 non-null  int64
 135  RHP1      95412 non-null  int64
 136  RHP2      95412 non-null  int64
 137  RHP3      95412 non-null  int64
 138  RHP4      95412 non-null  int64
 139  HUPA1     95412 non-null  int64
 140  HUPA2     95412 non-null  int64
 141  HUPA3     95412 non-null  int64
 142  HUPA4     95412 non-null  int64
 143  HUPA5     95412 non-null  int64
 144  HUPA6     95412 non-null  int64
 145  HUPA7     95412 non-null  int64
 146  RP1       95412 non-null  int64
 147  RP2       95412 non-null  int64
 148  RP3       95412 non-null  int64
 149  RP4       95412 non-null  int64
 150  MSA       95280 non-null  float64
 151  ADI       95280 non-null  float64
 152  DMA       95280 non-null  float64
 153  IC1       95412 non-null  int64
 154  IC2       95412 non-null  int64
 155  IC3       95412 non-null  int64
 156  IC4       95412 non-null  int64
 157  IC5       95412 non-null  int64
 158  IC6       95412 non-null  int64
 159  IC7       95412 non-null  int64
 160  IC8       95412 non-null  int64
 161  IC9       95412 non-null  int64
 162  IC10      95412 non-null  int64
 163  IC11      95412 non-null  int64
 164  IC12      95412 non-null  int64
 165  IC13      95412 non-null  int64
 166  IC14      95412 non-null  int64
 167  IC15      95412 non-null  int64
 168  IC16      95412 non-null  int64
 169  IC17      95412 non-null  int64
 170  IC18      95412 non-null  int64
 171  IC19      95412 non-null  int64
 172  IC20      95412 non-null  int64
 173  IC21      95412 non-null  int64
 174  IC22      95412 non-null  int64
 175  IC23      95412 non-null  int64
 176  HHAS1     95412 non-null  int64
 177  HHAS2     95412 non-null  int64
 178  HHAS3     95412 non-null  int64
 179  HHAS4     95412 non-null  int64
 180  MC1       95412 non-null  int64
 181  MC2       95412 non-null  int64
 182  MC3       95412 non-null  int64
 183  TPE1      95412 non-null  int64
 184  TPE2      95412 non-null  int64
 185  TPE3      95412 non-null  int64
 186  TPE4      95412 non-null  int64
 187  TPE5      95412 non-null  int64
 188  TPE6      95412 non-null  int64
 189  TPE7      95412 non-null  int64
 190  TPE8      95412 non-null  int64
 191  TPE9      95412 non-null  int64
 192  PEC1      95412 non-null  int64
 193  PEC2      95412 non-null  int64
 194  TPE10     95412 non-null  int64
 195  TPE11     95412 non-null  int64
 196  TPE12     95412 non-null  int64
 197  TPE13     95412 non-null  int64
 198  LFC1      95412 non-null  int64
 199  LFC2      95412 non-null  int64
 200  LFC3      95412 non-null  int64
 201  LFC4      95412 non-null  int64
 202  LFC5      95412 non-null  int64
 203  LFC6      95412 non-null  int64
 204  LFC7      95412 non-null  int64
 205  LFC8      95412 non-null  int64
 206  LFC9      95412 non-null  int64
 207  LFC10     95412 non-null  int64
 208  OCC1      95412 non-null  int64
 209  OCC2      95412 non-null  int64
 210  OCC3      95412 non-null  int64
 211  OCC4      95412 non-null  int64
 212  OCC5      95412 non-null  int64
 213  OCC6      95412 non-null  int64
 214  OCC7      95412 non-null  int64
 215  OCC8      95412 non-null  int64
 216  OCC9      95412 non-null  int64
 217  OCC10     95412 non-null  int64
 218  OCC11     95412 non-null  int64
 219  OCC12     95412 non-null  int64
 220  OCC13     95412 non-null  int64
 221  EIC1      95412 non-null  int64
 222  EIC2      95412 non-null  int64
 223  EIC3      95412 non-null  int64
 224  EIC4      95412 non-null  int64
 225  EIC5      95412 non-null  int64
 226  EIC6      95412 non-null  int64
 227  EIC7      95412 non-null  int64
 228  EIC8      95412 non-null  int64
 229  EIC9      95412 non-null  int64
 230  EIC10     95412 non-null  int64
 231  EIC11     95412 non-null  int64
 232  EIC12     95412 non-null  int64
 233  EIC13     95412 non-null  int64
 234  EIC14     95412 non-null  int64
 235  EIC15     95412 non-null  int64
 236  EIC16     95412 non-null  int64
 237  OEDC1     95412 non-null  int64
 238  OEDC2     95412 non-null  int64
 239  OEDC3     95412 non-null  int64
 240  OEDC4     95412 non-null  int64
 241  OEDC5     95412 non-null  int64
 242  OEDC6     95412 non-null  int64
 243  OEDC7     95412 non-null  int64
 244  EC1       95412 non-null  int64
 245  EC2       95412 non-null  int64
 246  EC3       95412 non-null  int64
 247  EC4       95412 non-null  int64
 248  EC5       95412 non-null  int64
 249  EC6       95412 non-null  int64
 250  EC7       95412 non-null  int64
 251  EC8       95412 non-null  int64
 252  SEC1      95412 non-null  int64
 253  SEC2      95412 non-null  int64
 254  SEC3      95412 non-null  int64
 255  SEC4      95412 non-null  int64
 256  SEC5      95412 non-null  int64
 257  AFC1      95412 non-null  int64
 258  AFC2      95412 non-null  int64
 259  AFC3      95412 non-null  int64
 260  AFC4      95412 non-null  int64
 261  AFC5      95412 non-null  int64
 262  AFC6      95412 non-null  int64
 263  VC1       95412 non-null  int64
 264  VC2       95412 non-null  int64
 265  VC3       95412 non-null  int64
 266  VC4       95412 non-null  int64
 267  ANC1      95412 non-null  int64
 268  ANC2      95412 non-null  int64
 269  ANC3      95412 non-null  int64
 270  ANC4      95412 non-null  int64
 271  ANC5      95412 non-null  int64
 272  ANC6      95412 non-null  int64
 273  ANC7      95412 non-null  int64
 274  ANC8      95412 non-null  int64
 275  ANC9      95412 non-null  int64
 276  ANC10     95412 non-null  int64
 277  ANC11     95412 non-null  int64
 278  ANC12     95412 non-null  int64
 279  ANC13     95412 non-null  int64
 280  ANC14     95412 non-null  int64
 281  ANC15     95412 non-null  int64
 282  POBC1     95412 non-null  int64
 283  POBC2     95412 non-null  int64
 284  LSC1      95412 non-null  int64
 285  LSC2      95412 non-null  int64
 286  LSC3      95412 non-null  int64
 287  LSC4      95412 non-null  int64
 288  VOC1      95412 non-null  int64
 289  VOC2      95412 non-null  int64
 290  VOC3      95412 non-null  int64
 291  HC1       95412 non-null  int64
 292  HC2       95412 non-null  int64
 293  HC3       95412 non-null  int64
 294  HC4       95412 non-null  int64
 295  HC5       95412 non-null  int64
 296  HC6       95412 non-null  int64
 297  HC7       95412 non-null  int64
 298  HC8       95412 non-null  int64
 299  HC9       95412 non-null  int64
 300  HC10      95412 non-null  int64
 301  HC11      95412 non-null  int64
 302  HC12      95412 non-null  int64
 303  HC13      95412 non-null  int64
 304  HC14      95412 non-null  int64
 305  HC15      95412 non-null  int64
 306  HC16      95412 non-null  int64
 307  HC17      95412 non-null  int64
 308  HC18      95412 non-null  int64
 309  HC19      95412 non-null  int64
 310  HC20      95412 non-null  int64
 311  HC21      95412 non-null  int64
 312  MHUC1     95412 non-null  int64
 313  MHUC2     95412 non-null  int64
 314  AC1       95412 non-null  int64
 315  AC2       95412 non-null  int64
 316  ADATE_2   95412 non-null  int64
 317  ADATE_3   93462 non-null  float64
 318  ADATE_4   93221 non-null  float64
 319  ADATE_5   61822 non-null  float64
 320  ADATE_6   91855 non-null  float64
 321  ADATE_7   86538 non-null  float64
 322  ADATE_8   91901 non-null  float64
 323  ADATE_9   84167 non-null  float64
 324  ADATE_10  62664 non-null  float64
 325  ADATE_11  84990 non-null  float64
 326  ADATE_12  86489 non-null  float64
 327  ADATE_13  55193 non-null  float64
 328  ADATE_14  76545 non-null  float64
 329  ADATE_15  29935 non-null  float64
 330  ADATE_16  75048 non-null  float64
 331  ADATE_17  67762 non-null  float64
 332  ADATE_18  74149 non-null  float64
 333  ADATE_19  70932 non-null  float64
 334  ADATE_20  45212 non-null  float64
 335  ADATE_21  60200 non-null  float64
 336  ADATE_22  69764 non-null  float64
 337  ADATE_23  39142 non-null  float64
 338  ADATE_24  58439 non-null  float64
 339  CARDPROM  95412 non-null  int64
 340  MAXADATE  95412 non-null  int64
 341  NUMPROM   95412 non-null  int64
 342  CARDPM12  95412 non-null  int64
 343  NUMPRM12  95412 non-null  int64
 344  RDATE_3   242 non-null    float64
 345  RDATE_4   281 non-null    float64
 346  RDATE_5   9 non-null      float64
 347  RDATE_6   776 non-null    float64
 348  RDATE_7   8895 non-null   float64
 349  RDATE_8   21472 non-null  float64
 350  RDATE_9   16734 non-null  float64
 351  RDATE_10  10461 non-null  float64
 352  RDATE_11  14740 non-null  float64
 353  RDATE_12  25700 non-null  float64
 354  RDATE_13  12250 non-null  float64
 355  RDATE_14  23317 non-null  float64
 356  RDATE_15  7262 non-null   float64
 357  RDATE_16  26994 non-null  float64
 358  RDATE_17  9401 non-null   float64
 359  RDATE_18  19778 non-null  float64
 360  RDATE_19  15877 non-null  float64
 361  RDATE_20  7888 non-null   float64
 362  RDATE_21  9513 non-null   float64
 363  RDATE_22  20873 non-null  float64
 364  RDATE_23  7859 non-null   float64
 365  RDATE_24  17738 non-null  float64
 366  RAMNT_3   242 non-null    float64
 367  RAMNT_4   281 non-null    float64
 368  RAMNT_5   9 non-null      float64
 369  RAMNT_6   776 non-null    float64
 370  RAMNT_7   8895 non-null   float64
 371  RAMNT_8   21472 non-null  float64
 372  RAMNT_9   16734 non-null  float64
 373  RAMNT_10  10461 non-null  float64
 374  RAMNT_11  14740 non-null  float64
 375  RAMNT_12  25700 non-null  float64
 376  RAMNT_13  12250 non-null  float64
 377  RAMNT_14  23317 non-null  float64
 378  RAMNT_15  7262 non-null   float64
 379  RAMNT_16  26994 non-null  float64
 380  RAMNT_17  9401 non-null   float64
 381  RAMNT_18  19778 non-null  float64
 382  RAMNT_19  15877 non-null  float64
 383  RAMNT_20  7888 non-null   float64
 384  RAMNT_21  9513 non-null   float64
 385  RAMNT_22  20873 non-null  float64
 386  RAMNT_23  7859 non-null   float64
 387  RAMNT_24  17738 non-null  float64
 388  RAMNTALL  95412 non-null  float64
 389  NGIFTALL  95412 non-null  int64
 390  CARDGIFT  95412 non-null  int64
 391  MINRAMNT  95412 non-null  float64
 392  MINRDATE  95412 non-null  int64
 393  MAXRAMNT  95412 non-null  float64
 394  MAXRDATE  95412 non-null  int64
 395  LASTGIFT  95412 non-null  float64
 396  LASTDATE  95412 non-null  int64
 397  FISTDATE  95412 non-null  int64
 398  NEXTDATE  85439 non-null  float64
 399  TIMELAG   85439 non-null  float64
 400  AVGGIFT   95412 non-null  float64
 401  CONTROLN  95412 non-null  int64
 402  TARGET_B  95412 non-null  int64
 403  TARGET_D  95412 non-null  float64
 404  HPHONE_D  95412 non-null  int64
 405  RFA_2F    95412 non-null  int64
 406  CLUSTER2  95280 non-null  float64
dtypes: float64(97), int64(310)
memory usage: 296.3 MB

Now we will drop the columns with >80% of the values nan

In [15]:
data_num

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
0,8901,0,3712,60.0,NaN,NaN,NaN,0,NaN,NaN,...,8911,9003.0,4.0,7.741935,95515,0,0.0,0,4,39.0
1,9401,1,5202,46.0,1.0,6.0,9.0,16,0.0,0.0,...,9310,9504.0,18.0,15.666667,148535,0,0.0,0,2,1.0
2,9001,1,0,NaN,NaN,3.0,1.0,2,0.0,0.0,...,9001,9101.0,12.0,7.481481,15078,0,0.0,1,4,60.0
3,8701,0,2801,70.0,NaN,1.0,4.0,2,0.0,0.0,...,8702,8711.0,9.0,6.812500,172556,0,0.0,1,4,41.0
4,8601,0,2001,78.0,1.0,3.0,2.0,60,1.0,0.0,...,7903,8005.0,14.0,6.864865,7112,0,0.0,1,2,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,9602,NaN,NaN,25.000000,184568,0,0.0,0,1,12.0
95408,9601,1,5001,48.0,1.0,7.0,9.0,1,0.0,0.0,...,9603,NaN,NaN,20.000000,122706,0,0.0,1,1,2.0
95409,9501,1,3801,60.0,NaN,NaN,NaN,0,NaN,NaN,...,9410,9501.0,3.0,8.285714,189641,0,0.0,1,3,34.0
95410,8601,0,4005,58.0,NaN,7.0,NaN,0,NaN,NaN,...,8612,8704.0,4.0,12.146341,4693,1,18.0,1,4,11.0
95411,8801,2,1801,80.0,NaN,5.0,8.0,3,0.0,0.0,...,8803,8809.0,6.0,96.794872,185114,0,0.0,1,1,12.0

In [16]:
null_values = pd.DataFrame(data_num.isna().sum(), columns=['null_values'])

In [18]:

null_values['total_values'] = 95412
null_values['%'] = round(null_values['null_values']/null_values['total_values']*100, 2)
null_values

          null_values  total_values      %
ODATEDW             0         95412   0.00
TCODE               0         95412   0.00
DOB                 0         95412   0.00
AGE             23665         95412  24.80
NUMCHLD         83026         95412  87.02
...               ...           ...    ...
TARGET_B            0         95412   0.00
TARGET_D            0         95412   0.00
HPHONE_D            0         95412   0.00
RFA_2F              0         95412   0.00
CLUSTER2          132         95412   0.14

[407 rows x 3 columns]

In [19]:
features_to_drop = null_values[null_values['%'] > 80]
features_to_drop_list = list(features_to_drop.index)
features_to_drop_list

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_9',
 'RDATE_10',
 'RDATE_11',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_19',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RDATE_24',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_9',
 'RAMNT_10',
 'RAMNT_11',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_19',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23',
 'RAMNT_24']

features to analyze in more detail the ones with les than 80% of null values

In [23]:
features_to_analyze = null_values[null_values['%'].between(1,80)]
features_to_analyze_list = list(features_to_analyze.index)
features_to_analyze_list

['AGE',
 'INCOME',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2',
 'ADATE_3',
 'ADATE_4',
 'ADATE_5',
 'ADATE_6',
 'ADATE_7',
 'ADATE_8',
 'ADATE_9',
 'ADATE_10',
 'ADATE_11',
 'ADATE_12',
 'ADATE_13',
 'ADATE_14',
 'ADATE_15',
 'ADATE_16',
 'ADATE_17',
 'ADATE_18',
 'ADATE_19',
 'ADATE_20',
 'ADATE_21',
 'ADATE_22',
 'ADATE_23',
 'ADATE_24',
 'RDATE_8',
 'RDATE_12',
 'RDATE_14',
 'RDATE_16',
 'RDATE_18',
 'RDATE_22',
 'RAMNT_8',
 'RAMNT_12',
 'RAMNT_14',
 'RAMNT_16',
 'RAMNT_18',
 'RAMNT_22',
 'NEXTDATE',
 'TIMELAG']

We remove this features

In [30]:
data_num.drop(columns=features_to_drop_list, axis=1, inplace=True)

We should think something to do with all the features in the features_to_analyze_list. We are going to split them and approach
them 2 ways. On the one hand, we will do a replace with the median. On the other hand we will replace categories proportionality.

In [ ]:
Replace by the median.

In [40]:
data_num[['AGE',
 'INCOME',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2']].isna().sum()

AGE         23665
INCOME      21286
WEALTH1     44732
MBCRAFT     52854
MBGARDEN    52854
MBBOOKS     52854
MBCOLECT    52914
MAGFAML     52854
MAGFEM      52854
MAGMALE     52854
PUBGARDN    52854
PUBCULIN    52854
PUBHLTH     52854
PUBDOITY    52854
PUBNEWFN    52854
PUBPHOTO    52854
PUBOPP      52854
WEALTH2     43823
dtype: int64

In [41]:
data_num[['AGE','INCOME','WEALTH1','MBCRAFT','MBGARDEN','MBBOOKS','MBCOLECT','MAGFAML','MAGFEM','MAGMALE','PUBGARDN','PUBCULIN',
 'PUBHLTH','PUBDOITY','PUBNEWFN','PUBPHOTO','PUBOPP','WEALTH2']] = data_num[['AGE','INCOME','WEALTH1','MBCRAFT','MBGARDEN','MBBOOKS','MBCOLECT','MAGFAML','MAGFEM','MAGMALE','PUBGARDN','PUBCULIN',
 'PUBHLTH','PUBDOITY','PUBNEWFN','PUBPHOTO','PUBOPP','WEALTH2']].fillna(data_num[['AGE','INCOME','WEALTH1','MBCRAFT','MBGARDEN','MBBOOKS','MBCOLECT','MAGFAML','MAGFEM','MAGMALE','PUBGARDN','PUBCULIN',
 'PUBHLTH','PUBDOITY','PUBNEWFN','PUBPHOTO','PUBOPP','WEALTH2']].median())

In [42]:
data_num[['AGE',
 'INCOME',
 'WEALTH1',
 'MBCRAFT',
 'MBGARDEN',
 'MBBOOKS',
 'MBCOLECT',
 'MAGFAML',
 'MAGFEM',
 'MAGMALE',
 'PUBGARDN',
 'PUBCULIN',
 'PUBHLTH',
 'PUBDOITY',
 'PUBNEWFN',
 'PUBPHOTO',
 'PUBOPP',
 'WEALTH2']].isna().sum()

AGE         0
INCOME      0
WEALTH1     0
MBCRAFT     0
MBGARDEN    0
MBBOOKS     0
MBCOLECT    0
MAGFAML     0
MAGFEM      0
MAGMALE     0
PUBGARDN    0
PUBCULIN    0
PUBHLTH     0
PUBDOITY    0
PUBNEWFN    0
PUBPHOTO    0
PUBOPP      0
WEALTH2     0
dtype: int64